@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');



*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.attribution{
    margin:0;
}
.container{
    max-width: 350px;
    margin: 0 auto;
}

.card{
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    
}

.card img{
    width: 100%;
    border-radius: 17px;
}

.text{
    padding: 22px 10px;
}

.text h2{
    color:hsl(218, 44%, 22%);
    padding-bottom: 15px;
}

.text p{
    color: hsl(220, 15%, 55%);
}